.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .chosen-container * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    clip: rect(0, 0, 0, 0);
  }
  
  .chosen-container.chosen-with-drop .chosen-drop {
    clip: auto;
  }
  
  .chosen-container a {
    cursor: pointer;
  }
  
  .chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #999999;
  }
  
  .chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
    content: ":";
    padding-left: 2px;
    vertical-align: top;
  }
  
  /* @end */
  /* @group Single Chosen */
  .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 8px 0 0 8px;
    height: 52px;
    border: 1px solid #aaa;
    border-radius: 0px;
    background-color: #f6f6f6;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 32px;
    font-size: 22px;
  }
  
  .chosen-container-single .chosen-single:hover {
    background-color: #f9f9f9;
  }
  
  .chosen-container-single .chosen-default {
    color: #999;
    width: 98.4%;
  }	
  
  .chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
  }
  
  .chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px;
  }
  
  .chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
  }
  
  .chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
  }
  
  .chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
  }
  
  .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("chosen-sprite.png") no-repeat 0px 2px;
  }
  
  .chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
  }
  
  .chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: url("chosen-sprite.png") no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
  }
  
  .chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
  }
  
  .chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  
  /* @end */
  /* @group Results */
  .chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
  }
  
  .chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
  }
  
  .chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
  }
  
  .chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
  }
  
  .chosen-container .chosen-results li.highlighted {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
  }
  
  .chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4;
  }
  
  .chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
    background: #FE2E2E;
    color: #fff;
  }
  
  .chosen-container .chosen-results li.group-option {
    padding-left: 15px;
  }
  
  .chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
  }
  
  /* @end */
  /* @group Multi Chosen */
  .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: linear-gradient(#eee 1%, #fff 15%);
    cursor: text;
  }
  
  .chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
  }
  
  .chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  
  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 0;
    height: 25px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #999;
    font-size: 100%;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
    width: 25px;
  }
  
  .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default;
  }
  
  .chosen-container-multi .chosen-choices li.search-choice span {
    word-wrap: break-word;
  }
  
  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px;
  }
  
  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px;
  }
  
  .chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    color: #666;
  }
  
  .chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4;
  }
  
  .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
  }
  
  .chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
  }
  
  .chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
  }
  
  /* @end */
  /* @group Active  */
  .chosen-container-active .chosen-single {
    border: 1px solid #5897fb;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff));
    background-image: linear-gradient(#eee 20%, #fff 80%);
    -webkit-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 0 #fff inset;
  }
  
  .chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
  }
  
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
  }
  
  .chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important;
  }
  
  /* @end */
  /* @group Disabled Support */
  .chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
  }
  
  .chosen-disabled .chosen-single {
    cursor: default;
  }
  
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
  
  /* @end */
  /* @group Right to Left */
  .chosen-rtl {
    text-align: right;
  }
  
  .chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
  }
  
  .chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
  }
  
  .chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
  }
  
  .chosen-rtl .chosen-single div {
    right: auto;
    left: 3px;
  }
  
  .chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
  }
  
  .chosen-rtl .chosen-choices li {
    float: right;
  }
  
  .chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
  }
  
  .chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
  }
  
  .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
  }
  
  .chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }
  
  .chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
  }
  
  .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }
  
  .chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: url("chosen-sprite.png") no-repeat -30px -20px;
    direction: rtl;
  }
  
  .chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
  }
  
  .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
  }
  
  /* @end */
  /* @group Retina compatibility */
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
      background-image: url("chosen-sprite@2x.png") !important;
      background-size: 52px 37px !important;
      background-repeat: no-repeat !important;
    }
  }
  
  
  /* @end */  

.tx-kesearch-pi1 {
    font-family: Sans-Serif;
}

/* Clearer */
.tx-kesearch-pi1 .clearer {
    display: block;
    height: 1px;
    line-height: 1px;
    clear: both;
}

/* formElements */
.tx-kesearch-pi1 form{
    border: 0 none;
    margin: 0 0 20px 0;
}
.tx-kesearch-pi1 form fieldset{
	margin:0;
	padding:0;
}
.tx-kesearch-pi1 .kesearch_searchbox {
	border:none;
}
.tx-kesearch-pi1 input[type="text"],
.tx-kesearch-pi1 select,
.tx-kesearch-pi1 textarea{
    padding: 0.3em 0.3em 0.3em 0.4em;
    background: white;
    border: 1px solid #bbbbbb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #2b2b2b;
}
.tx-kesearch-pi1 input[type="text"]:focus,
.tx-kesearch-pi1 input[type="text"]:hover,
.tx-kesearch-pi1 select:focus,
.tx-kesearch-pi1 select:hover,
.tx-kesearch-pi1 textarea:focus,
.tx-kesearch-pi1 textarea:hover{
    box-shadow: 0 0 3px #bbbbbb;
    border: 1px solid #b2b2b2;
    color: #000;
}

/* Buttons */
a.kesGreyButt,
span.resetbutt a,
span.submitbutt input,
input.kesGreyButt,
span.kesGreyButt{
    font-size:1em;
    font-family: Sans-Serif;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
	display: block;
    cursor: pointer;
	min-width:70px;
	max-width:140px;
    -moz-user-select: none;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #f6f6f6, #f0f0f0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #444;
    cursor: default;
    text-align: center;
    text-decoration: none;
}

span.submitbutt input,
input.kesGreyButt,
span.kesGreyButt{
}

/* fix firefox button size (line-height is not working in firefox submit button)*/
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
li.checkboxButtonSubmit span,
span.submitbutt input,
input.kesGreyButt[type="submit"]{
	min-width:169px;
	max-width:220px;
}

span.resetbutt {
	float:left;
}

span.resetbutt a:hover,
span.submitbutt input:hover,
input.kesGreyButt:hover,
span.kesGreyButt:hover{
    color:#000;
    text-decoration: none;
    cursor: pointer;
    background: #d1d1d1;

	background-color: #f8f8f8;
    background-image: -moz-linear-gradient(center top , #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}
span.kesGreyButt a{
    text-decoration: none;
    color:#444;
    text-shadow: 0px 1px 0px #ffffff;
}
span.kesGreyButt a:hover{
    text-decoration: none;
    color:#000;
    text-shadow: 0px -1px 0px #ffffff;
}
/* buttFixes */
#kesearch_filters .list li.checkboxButton,
#kesearch_filters .list li.checkboxButtonSubmit{
    text-decoration: none !important;
    padding-bottom: 5px;
}
#kesearch_filters .list li.checkboxButtonSubmit{ margin-bottom: 1px;}
#kesearch_filters .list li.checkboxButtonSubmit{ padding-bottom: 0;}

/* SearchBox */
div.kesearchbox{
    position: relative;
    height: 35px;
    margin: 0 0 10px 0;
}
#kesearch_submit{
    position: absolute;
    top: 3px;
    left: 237px;
    height: 28px;
    width: 28px;
    border: 0 none;
    padding: 0;
}
#kesearch_submit:focus,
#kesearch_submit:hover{
    box-shadow: 0 0 0 white;
    border: 0 none;
    cursor: pointer;
}

/* Filters */
#kesearch_filters select {
    margin: 0 0 10px 0;
}
#kesearch_filters .list {
    margin-bottom: 10px;
    background-color: rgb(237, 237, 237);
}
#kesearch_filters .list .head {
    display:block;
    border: 1px solid #CFCFCF;
    padding: 5px;
}
#kesearch_filters .list ul {
    padding: 10px;
    margin: 0;
    border: 1px solid #cfcfcf;
    border-top: 0 none;
    list-style-type:none;
}
#kesearch_filters .list ul.expanded { display:block; }
#kesearch_filters .list ul.closed { display:none; }
#kesearch_filters .list li {
    display:block;
    list-style-type:none;
    margin:0 0 10px 0;
    line-height:16px;
    color: #444;
}
#kesearch_filters .list li a{
    color: #444;
}
#kesearch_filters .list li:hover,
#kesearch_filters .list li a:hover{
    text-decoration: none;
    color: #444;
    cursor: pointer;
}
#kesearch_filters .list li.selected { font-weight: bold; }
#kesearch_filters .list li.parent0,
#kesearch_filters .list li.level0 { margin-left: 14px; }
#kesearch_filters .list li.parent1,
#kesearch_filters .list li.level1 { margin-left: 21px; }
#kesearch_filters .list li.parent2,
#kesearch_filters .list li.level2 { margin-left: 28px; }
#kesearch_filters .list li.parent3,
#kesearch_filters .list li.level3 { margin-left: 35px; }
#kesearch_filters .list li.parent0,
#kesearch_filters .list li.parent1,
#kesearch_filters .list li.parent2,
#kesearch_filters .list li.parent3 {
    font-weight: bold;
    list-style-position: outside;
}

/* Checkboxes */
#kesearch_filters .list .checkboxList{ 
	display:inline-block;
	border:none;
}
#kesearch_filters .list ul.checkboxList{ 
	padding-bottom: 1px;
}
#kesearch_filters .list li.optionCheckBox label {
	color: #0092f9;
	font-size: 16px;
}
#kesearch_filters .list li.optionCheckBox {
	clear: none;
    float: left;
    min-width: 250px;
    text-decoration: none;
    margin-bottom: 4px;
}
#kesearch_filters .list li.optionCheckBox input[type="checkbox"]{
	clear: none;
	float: left;
    margin: 0 5px 0 0;
}
#kesearch_filters .list li.clearer {
	clear: none;
    font-size: 0;
    line-height: 0;
    float: left;
    margin: 0 !important;
}
#kesearch_filters label{
    display:block;
    font-weight:bold;
    color: #353535;
    margin:0 0 4px 0;
}
#kesearch_filters .list li.region {
    font-weight: bold;
    margin-top: 5px;
}
#kesearch_filters .list li.noclick { cursor: default !important; }
#kesearch_filters .list li.country { margin-left: 7px; }

/* SPECIAL CSS CLASS */
#kesearch_filters .small {
    display:block;
    height: 65px;
    max-height: 65px;
    overflow-y: auto;
    overflow-x: hidden;
}
#kesearch_filters .larger {
    display:block;
    height: 130px;
    max-height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Results */
#number_per_page{
	color:#898989;
	float:right;
}

#kesearch_num_results{
	color:#898989;
    float:left;
    margin-left:200px;
}

#kesearch_results .result-list-item{
	clear:both;
    margin: 20px 0 30px 0;
    padding: 0;
}
#kesearch_results .result-list-item .result-number,
#kesearch_results .result-list-item .result-title {
	font-size:1.2em;
}
#kesearch_results .result-list-item .result-category {
	font-size:18px;
	font-weight:bold;
	padding:0 0 5px 0;
}
#kesearch_results {
	clear:both;
	margin-top:20px;
}
#kesearch_results .result-list-item .result-teaser {
	color:#707070;
}
.tx-kesearch-pi1 #kesearch_results .result-list-item-type-page { }

.tx-kesearch-pi1 #kesearch_results .teaser_icon img {
    float:left;
    margin-top:2px;
    margin-right:5px;
}

.tx-kesearch-pi1 #kesearch_results .result-list-item .hit {
    color: red;
    font-weight: bold;
}
.tx-kesearch-pi1 #kesearch_results .result-list-item .add-info {
}
.tx-kesearch-pi1 #kesearch_results .result-list-item .scoreBar {
    border: 1px solid #D3D3D3;
    display: block;
    float: right;
    height: 10px;
    width: 48px;
}
.tx-kesearch-pi1 #kesearch_results .result-list-item .scoreBar .score {
    background-color: #D3D3D3;
    border: 1px solid #898989;
    display: block;
    height: 10px;
    margin: -1px 0 0 -1px;
}

/* Query time */
.tx-kesearch-pi1 #kesearch_query_time {
    font-style: italic;
    text-align: center;
    font-size: 80%;
}

/* Searchbox */
.tx-kesearch-pi1 .searchbox {
    margin-bottom: 5px;
}
.tx-kesearch-pi1 .searchbox input {
    margin-left: 0;
    width: 145px;
}
.tx-kesearch-pi1 .searchbox input.submit {
    width: 18px;
    height: 18px;
    border: none;
    background: none;
    vertical-align: middle;
}
.tx-kesearch-pi1 form.static .searchbox input.submit {
    margin-top: -16px;
}
.tx-kesearch-pi1 form.ajax .searchbox input.submit {
    margin-top: -4px;
}
.tx-kesearch-pi1 .searchbox .search_input {
    float:left;
    margin-right: 5px;
}

/* General Message */
.tx-kesearch-pi1 .general-message {
    padding: 5px;
}
.tx-kesearch-pi1 .general-message .image {
    float:left;
    vertical-align: middle;
    margin-right: 10px;
}

/* Pagebrowser */
.kesearch_pagebrowser ul {
    display: inline;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.kesearch_pagebrowser ul li {
    list-style-type: none;
    display: inline;
    margin: 0;
}
#kesearch_pagebrowser_top,
#kesearch_pagebrowser_bottom {
    text-align: center;
    word-wrap: break-word;
    color:#707070;
}
#kesearch_pagebrowser_top .pages_total,
#kesearch_pagebrowser_bottom .pages_total{
    padding: 8px 0;
    background:#fff;
    margin-bottom: 15px;
}
#kesearch_pagebrowser_top .pages_total { border-bottom: 1px solid #cccccc; }
#kesearch_pagebrowser_bottom .pages_total { border-top: 1px solid #cccccc; }
#kesearch_pagebrowser_top div.result_txt,
#kesearch_pagebrowser_bottom div.result_txt{
    margin: 0 0 5px 0;
}
#kesearch_pagebrowser_top .kesearch_pagebrowser,
#kesearch_pagebrowser_bottom .kesearch_pagebrowser { margin: 0 auto 0; }

#kesearch_pagebrowser_top a,
#kesearch_pagebrowser_bottom a { padding: 3px; }
#kesearch_pagebrowser_top a:hover,
#kesearch_pagebrowser_bottom a:hover { cursor:pointer; }
#kesearch_pagebrowser_top a.current,
#kesearch_pagebrowser_bottom  a.current {
   font-weight: bold;
   color:#000;
   text-decoration:none;
}
#kesearch_pagebrowser_top .browser,
#kesearch_pagebrowser_bottom .browser{
    border:1px solid;
}

/* Ordering */
.tx-kesearch-pi1 #kesearch_ordering span.down {
    display: inline-block;
    width: 0;
    height: 0;
    border-color: #FF0000 transparent;
    border-style: solid solid none;
    border-width: 4px 4px 0;
}
.tx-kesearch-pi1 #kesearch_ordering span.up {
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent transparent #FF0000;
    border-style: none solid solid;
    border-width: 0 4px 4px;
}
.tx-kesearch-pi1 #kesearch_ordering div.ordering {
	float:left;
	max-width:300px;
}
.tx-kesearch-pi1 #kesearch_ordering ul {
    display: inline-block;
    height: 20px;
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
}
.tx-kesearch-pi1 #kesearch_ordering ul li {
    float: left;
    margin-right: 10px;
}
.tx-kesearch-pi1 #kesearch_ordering div.clearer {
    clear: left;
}
/* needed for autocomplete */
ul.ui-autocomplete li a {
	font-size: 12px;
}
.ui-autocomplete-category {
	background-color: blue;
	color: white;
}
