<f:layout name="General" />
<!--
=====================
Templates/SearchForm.html
-->
<f:section name="content">
	<form method="get" id="form_kesearch_pi1" name="form_kesearch_pi1" action="{f:uri.page(pageUid: targetpage)}">
		<input type="hidden" name="publish[token]" value="{token}" />
		<input type="hidden" id="onlyPublic" name="onlyPublic" value="{onlyPublic}" />
		<fieldset class="kesearch_searchbox">
			<f:if condition="{targetpage}">
				<input type="hidden" name="id" value="{targetpage}" />
			</f:if>
			<f:if condition="{lparam}">
				<input type="hidden" name="L" value="{lparam}" />
			</f:if>
			<f:if condition="{mpparam}">
				<input type="hidden" name="MP" value="{mpparam}" />
			</f:if>
			<f:if condition="{typeparam}">
				<input type="hidden" name="type" value="{typeparam}" />
			</f:if>

			<div class="kesearchbox">
				<div class="ui-widget">
					<input id="ke_search_sword" name="tx_kesearch_pi1[sword]" value="{searchword}" title="Bitte geben Sie hier den Suchbegriff ein.">
				</div>
				
				<input type="submit" id="kesearch_submit" value="Suchen" title="Suche starten" />
				<div class="clearer">&nbsp;</div>
			</div>

			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
			<style>
				.ui-autocomplete-category {
					font-weight: bold;
					padding: .2em .4em;
					margin: .8em 0 .2em;
					line-height: 1.5;
				}
			</style>
			
			<style>
				.ui-autocomplete-loading {
					background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
				}
			</style>
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script>
				var onlyPublic = $("#onlyPublic").val();
				if(onlyPublic != 1){
					onlyPublic = 0;
				}
				
				$.widget( "custom.catcomplete", $.ui.autocomplete, {
					_create: function() {
						this._super();
						this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
					},
					_renderMenu: function( ul, items ) {
						var that = this, currentCategory = "";
						$.each( items, function( index, item ) {
							var li;
							if ( item.category != currentCategory ) {
								ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
								currentCategory = item.category;
							}
							li = that._renderItemData( ul, item );
							if ( item.category ) {
								li.attr( "aria-label", item.category + " : " + item.label );
							}
						});
					}
				});

				$("#ke_search_sword").catcomplete({
					source: function( request, response ) {
						$.getJSON( "typo3conf/ext/ke_search/Classes/Lib/autocompletion.php", { term: request.term, onlyPublic: onlyPublic } )
						.done(function( json ) {
							response($.map(json, function(item) {
								return {
									label: item.label,
									category: item.category
								}
							}));
						});
					}
				});
			</script>

			<input id="kesearchpagenumber" type="hidden" name="tx_kesearch_pi1[page]" value="{page}" />
			<input id="resetFilters" type="hidden" name="tx_kesearch_pi1[resetFilters]" value="0" />
			<input id="sortByField" type="hidden" name="tx_kesearch_pi1[sortByField]" value="{sortByField}" />
			<input id="sortByDir" type="hidden" name="tx_kesearch_pi1[sortByDir]" value="{sortByDir}" />

			<f:if condition="{filters}">
				<div id="kesearch_filters"><f:render partial="Filters" arguments="{conf: conf, numberofresults: numberofresults, resultrows: resultrows, filters: filters}" /></div>
			</f:if>

		</fieldset>
	</form>
</f:section>